// /* Color palette */

$dark-sky-blue: #4a90e2;
$dark-seafoam-green: #3dbd7d;
$steel: #788195;
$lightblue: #80d1f4;
$pinkish-grey: #d1d1d1;
$white: #ffffff;
$marigold: #ffbf00;
$lavender-blue: #8075f2;
$bright-orange: #ff6600;
$warm-grey: #9b9b9b;
$white-two: #f6f6f6;
$slate-grey: #58595b;
$white-three: #d9d9d9;
$denim: #426c90;
$scarlet: #d0021b;
$brownish-orange: #d96119;
$cloudy-blue: #c2c9da;
$clear-blue: #1f83ff;
$dark-grey-blue: #284052;
$slate: #475969;
$dark-indigo: #09243a;
$battleship-grey: #62717e;
$steel-two: #7c8893;
$cool-grey: #aeb5bb;
$silver: #dcdfe2;
$pale-grey: #f2f3f5;
$turquoise-green: #00db7e;
$marigold-two: #ffc700;
$pink-red: #f90058;
$aqua-blue: #04c3e2;
$bright-light-blue: #19e4fb;
$tealish: #2ad5b3;
$aqua-marine: #41f2c8;
$mango: #fea625;
$apricot: #ffbe60;
